<%= form_for(@train) do |f| %>
 <%=render 'common/errors' , resourse: @train %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label "Нумерация с головы" %><br>
    <%= f.check_box :sort_from_head %>
  </div>

  <div class="field">
    <%= f.label :current_station, 'Текущая станция' %>
    <%= f.collection_select :current_station_id, RailwayStation.all, :id, :title,
    {prompt: 'Выберите станцию'} %>
  </div>

  <div class="field">
    <%= f.label :route , "Маршрут" %>
    <%= f.collection_select :route_id, Route.all, :id, :name %>
  </div>

  <div class="actions">
    <%= render 'common/submit', f: f, resourse: @train %>
  </div>
<% end %>
