<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<%if @train.route.nil? %>
  <p> Маршрут не назначен </p>
<% else %>
  <p>Поезд едет по маршруту  </p>
  <ul>
      <li> <%= @train.route.name %> </li>
    </ul>
<%end%>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
