<%= form_for(@carriage) do |f| %>
 <%=render 'common/errors' , resourse: @carriage %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>


   <div class="field">
    <%= f.label 'Количество верхних мест'%><br>
    <%= f.number_field :count_up %>
  </div>

   <div class="field">
    <%= f.label 'Количество нижних мест' %><br>
    <%= f.number_field :count_down %>
  </div>

  <div class="field">
    <%= f.label 'Количество боковых верхних мест' %><br>
    <%= f.number_field :count_side_up %>
  </div>

  <div class="field">
    <%= f.label 'Количество боковых нижних мест' %><br>
    <%= f.number_field :count_side_down %>
  </div>


  <div class="field">
    <%= f.label :train , "Поезд" %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

    <div class="field">
    <%= f.label :carriage_type , "Тип" %>
    <%= f.collection_select :carriage_type_id, CarriageType.all, :id, :name %>
  </div>

  <div class="actions">
    <%= render 'common/submit', f: f, resourse: @carriage %>
  </div>
<% end %>
