<h1>Новый Вагон</h1>

<% if params[:type] == 'EconomyCarriage' %>
    <%= render 'form' %>
<% end %>
<p><%= link_to 'Плацкарт', new_train_carriage_path(type: 'EconomyCarriage') %></p>

<% if params[:type] == 'ComfortCarriage' %>
    <%= render 'form' %>
<% end %>
<p><%= link_to 'Купе', new_train_carriage_path(type: 'ComfortCarriage') %></p>

<% if params[:type] == 'SvCarriage' %>
    <%= render 'form' %>
<% end %>
<p><%= link_to 'СВ', new_train_carriage_path(type: 'SvCarriage') %></p>

<% if params[:type] == 'SitCarriage' %>
    <%= render 'form' %>
<% end %>
<p><%= link_to 'Сидячий', new_train_carriage_path(type: 'SitCarriage') %></p>


<%= link_to 'Назад', trains_path %>
