<h1>Новый Вагон</h1>

<% if params[:carriage_type] == "1" %>
    <%= render 'economy_carriage' %>
<% end %>
<p><%= link_to 'Плацкарт', new_carriage_path(carriage_type: CarriageType.find(1)) %></p>

<% if params[:carriage_type] == "2" %>
    <%= render 'comfort_carriage' %>
<% end %>
<p><%= link_to 'Купе', new_carriage_path(carriage_type: CarriageType.find(2)) %></p>

<% if params[:carriage_type] == "3" %>
    <%= render 'seat_carriage' %>
<% end %>
<p><%= link_to 'Сидячий', new_carriage_path(carriage_type: CarriageType.find(3)) %></p>

<% if params[:carriage_type] == "4" %>
    <%= render 'luxury_carriage' %>
<% end %>
<p><%= link_to 'СВ', new_carriage_path(carriage_type: CarriageType.find(4)) %></p>


<%= link_to 'Назад', carriages_path %>
