<p id="notice"><%= notice %></p>

<p>
  <strong>Наименование:</strong>
  <td><%= @carriage.name %></td>
</p>
<p>Номер вагона:
<%= @carriage.number %>
</p>

<% if @carriage.type.nil? || @carriage.type.empty? %>
    <td> Тип не назначен </td>
  <% else %>
    <td> Тип вагона: <%= @carriage.type %></td>
     <% if @carriage.type == 'EconomyCarriage' %>
        <p>Верхних мест:   <%= @carriage.count_up.nil? ? 0 :
          @carriage.count_up %> </p>

        <p>Нижних Мест:   <%= @carriage.count_down.nil? ? 0 :
          @carriage.count_down %> </p>

        <p>Боковых верхних мест :   <%= @carriage.count_side_up.nil? ? 0 :
          @carriage.count_side_up %> </p>

        <p>Боковых нижних Мест:   <%= @carriage.count_side_down.nil? ? 0 :
          @carriage.count_side_down %> </p>

     <% elsif @carriage.type == 'ComfortCarriage'%>

        <p>Верхних мест:   <%= @carriage.count_up.nil? ? 0 :
          @carriage.count_up %> </p>

        <p>Нижних Мест:   <%= @carriage.count_down.nil? ? 0 :
          @carriage.count_down %> </p>

     <% elsif @carriage.type == 'SvCarriage'%>

        <p>Сидящих мест:   <%= @carriage.count_seat.nil? ? 0 :
          @carriage.count_seat %> </p>

      <% elsif @carriage.type == 'SitCarriage'%>

        <p>Сидящих мест:   <%= @carriage.count_SB.nil? ? 0 :
          @carriage.count_SB %> </p>

     <% end %>

<% end %>

<%if @carriage.train.nil? %>
  <p> Вагон не назначен </p>
<% else %>
  <p>Вагон принадлежит поезду номер: </p>
    <ul>
      <li> <%= @carriage.train.number %> </li>
    </ul>
<%end%>

<%= link_to 'Edit', edit_carriage_path(@carriage) %> |
<%= link_to 'Back', carriages_path %>
