<%= form_for [@train, @carriage.becomes(Carriage)] do |f| %>
 <%=render 'common/errors' , resourse: @carriage %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <% if params[:type] == 'EconomyCarriage' %>
      <%= render 'comfort_carriage', f: f %>
      <%= render 'economy_carriage', f: f %>
  <% elsif params[:type] == 'ComfortCarriage' %>
      <%= render 'comfort_carriage', f: f %>
  <% elsif params[:type] == 'SvCarriage' %>
      <%= render 'sv_carriage', f: f %>
  <% elsif params[:type] == 'SitCarriage' %>
      <%= render 'sit_carriage', f: f %>
  <% end %>

  <div class="field">
    <%= f.label :train %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="field">
    <%= f.label :type  %>
    <% if params[:type] == 'EconomyCarriage' %>
      <%= f.select :type, ['EconomyCarriage']  %>
    <% elsif params[:type] == 'ComfortCarriage' %>
      <%= f.select :type, ['ComfortCarriage']  %>
    <% elsif params[:type] == 'SvCarriage' %>
      <%= f.select :type, ['SvCarriage']  %>
    <% elsif params[:type] == 'SitCarriage' %>
      <%= f.select :type, ['SitCarriage']  %>
    <% end %>
  </div>

  <div class="actions">
    <%= render 'common/submit', f: f, resourse: @carriage %>
  </div>
<% end %>
