<h1>Listing Carriages</h1>

<table>
  <thead>
  <tr>
    <th>Train</th>
    <th>Type</th>
    <th>Carriage Number</th>
  </tr>
  </thead>

  <tbody>
  <% @carriages.each do |carriage| %>
      <tr>
        <td><%= carriage.train.number %></td>
        <td><%= carriage.type %></td>
        <td><%= carriage.number %></td>
        <td><%= link_to 'Show', admin_carriage.becomes(Carriage) %></td>
        <td><%= link_to 'Edit', edit_admin_carriage_path(carriage) %></td>
        <td><%= link_to 'Destroy', admin_carriage.becomes(Carriage), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

 <%= link_to 'New Carriage', new_admin_train_carriage_path %>
