<h1>Поиск билета</h1>
<%= form_tag new_search_path,class: "search_form", method: :get do %>
<%= label_tag "From" %>
<%= select_tag :from, options_from_collection_for_select(RailwayStation.all, 'id', 'title') %>
<%= label_tag "To" %>
<%= select_tag :to, options_from_collection_for_select(RailwayStation.all, 'id', 'title') %>
<%= submit_tag('Search') %>
<% end %>


<% if @trains.nil? %>
    <p>No trains found!</p>
<% else %>
    <% @trains.each do |train| %>
      <p>
        <span><%= "Поезд № #{train.number}" %></span>
        <span><%= "Время отправления: #{train.route.railway_stations.first.departure_time_in(train.route).try(:strftime, "%H:%M")}" %></span>
        <span><%= "Время прибытия: #{train.route.railway_stations.last.arrival_time_in(train.route).try(:strftime, "%H:%M")}" %></span>
        <%= link_to 'Купить билет', new_tiket_path(tiket: {
            train_id: train.id,
            begin_station_id: params[:from],
            end_station_id: params[:to]}) %>
      </p>
    <% end %>
<% end %>
