<p id="notice"><%= notice %></p>

<p>
  <strong>Наименование:</strong>
  <%= @route.name %>
</p>

<p>
<strong>Список поездов на маршруте</strong>
</p>

<p>
  <% if @route.trains.empty? %>
    Нет поездов <br>
  <% else %>
    <ul>
      <% @route.trains.each do |train| %>
        <li><%= train.number %> </li>
      <% end %>
    </ul>
  <% end %>
</p>


<p>
<strong>Список станций</strong>
</p>

<p>
  <% if @route.railway_stations.empty? %>
    Нет станций <br>
  <% else %>
    <ul>
      <% @route.railway_stations.each do |station| %>
        <li><%= station.title %> </li>
      <% end %>
    </ul>
  <% end %>
</p>


<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
